.executed {
    background: #5FB404;
}

.ready {
    background: #D7DF01;
}

.working {
    background: #f0ad4e;
}

.error {
    background:#d9534f;
}

.unloaded {
    background: #D7DF01;
}

.panel-heading {
    text-align: right;
}
