[Unit]
Description=The measurement server interface.
Wants=ssmp.service
After=network.target

[Service]
User=wwwrun
Group=www
Type=simple
#StandardOutput=null
#StandardError=null
Restart=always
# Run ExecStartPre/ExecStartPost with root-permissions
PermissionsStartOnly=true
# Remove PIDFile at Stop
PIDFile=/var/run/frame/frame.pid
ExecStartPre=/usr/bin/mkdir -p /var/run/frame
ExecStartPost=/bin/sh -c '/usr/bin/echo $MAINPID > /var/run/frame/frame.pid'
WorkingDirectory=/usr/local/share/frame
ExecStart=/usr/local/share/frame/bin/start

[Install]
WantedBy=multi-user.target
