<div class='cdid' data-path='/{{mpid}}/id'>
  <ul>
    {{#cdid}}
    {{#if Certificate}}
    <li class="text-muted">
      <label>
        Certificate: <b>{{Certificate}}</b>,
        Issue: <b>{{Issue}} </b>
      </label>
      <a target='_blank'
         title="Customer: {{Customer}}, Device:{{Device}}, ToDo:
                {{ToDoType}}"
         href='http://localhost:5984/_utils/#database/vl_db_work/{{Id}}'>F</a>
      <a target='_blank'
         title="Customer: {{Customer}}, Device:{{Device}}, ToDo:
                {{ToDoType}}"
         href='http://localhost:5984/vl_db/applications/diwan2.html?id={{Id}}'>D</a>
    </li>
    {{/if}}
    {{#if Measurement}}
    <label>
      meas. doc:
      <a target='_blank'
         title="Measurement document in vl_db_work@localhost"
         href='http://localhost:5984/_utils/#database/vl_db_work/{{Id}}'>
	        <b>{{Id}}</b>
      </a>
    </label>
    {{/if}}
    {{#if State}}
    <label>
      state. doc:
      <a target='_blank'
         title="State document in vl_db_work@localhost"
         href='http://localhost:5984/_utils/#database/vl_db_work/{{Id}}'>
	        <b>{{Id}}</b>
      </a>
    </label>
    {{/if}}
    {{/cdid}}
  </ul>
</div>
