<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Certificate</th>
      <th>Issue</th>
      <th>Year</th>
      <th>Customer</th>
      <th>Device</th>
      <th>ToDoType</th>
      <th>add</th>
      <th>remove</th>
    </tr>
  </thead>
  <tbody>
    {{#each Document}}
    <tr>
      <td>{{Id}}</td>
      <td>{{Certificate}}</td>
      <td>{{Issue}}</td>
      <td>{{Year}}</td>
      <td>{{Customer}}</td>
      <td>{{Device}}</td>
      <td>{{ToDoType}}</td>
      <td><button class = 'exchange-button btn btn-xs btn-success'
                  data-cmd ='cmd=load'
		  data-method = 'PUT'
                  data-path ='/{{../mpid}}/id/{{Id}}'>
	  <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
	</button>
      </td>
      <td><button class = 'exchange-button btn btn-xs btn-danger'
                  data-cmd ='cmd=remove'
		  data-method = 'PUT'
                  data-path ='/{{../mpid}}/id/{{Id}}'
		  type='submit'>
	  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
	</button>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
