<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Certificate</th>
      <th>Issue</th>
      <th>Year</th>
      <th>Customer</th>
      <th>Device</th>
      <th>ToDoType</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each Document}}
    <tr>
      <td>{{Id}}</td>
      <td>{{Certificate}}</td>
      <td>{{Issue}}</td>
      <td>{{Year}}</td>
      <td>{{Customer}}</td>
      <td>{{Device}}</td>
      <td>{{ToDoType}}</td>
      <td><button class = 'exchange-button btn btn-sm btn-success'
                  data-cmd ='load'
		  data-method = 'PUT'
                  data-api ='/{{../mpid}}/id/{{Id}}'
                  >add</button>
      </td>
      <td><button class = 'exchange-button btn btn-sm btn-danger'
                  data-cmd ='remove'
		  data-method = 'PUT'
                  data-api ='/{{../mpid}}/id/{{Id}}'
		  type='submit'>remove</button>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>