<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{mpid}}</title>
  </head>
  <body>
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">{{name}}</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {{#container.Title}}
	    <li class="nav">
            <ul>
              <li>
                <label >{{.}}</label>
              </li>
              <li>
                <a href="/{{../mpid}}/{{@index}}/elements/frame">elements</a>
              </li>
              <li>
                <a href="/{{../mpid}}/{{@index}}/state/frame">state</a>
              </li>
            </ul>
	    </li>
            {{/container.Title}}
          </ul>
        </div>
    </nav>
    <div class="container">   
      <div class="jumbotron">
	<h2>{{struct}} of container {{no}}</h2>
	<p>{{description}}</p>
      </div>
    </div>
    <div class="container">   
      <a id="content_link" href="/{{mpid}}/{{no}}/{{struct}}" > /{{mpid}}/{{no}}/{{struct}}</a>
    </div>

    <script src="/js/jquery-2.1.4.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/frame.js"></script>
  </body>
</html>