<div class='state row mx-auto' data-path='/{{mpid}}/{{no}}/state'>

  {{#each taskstate}}
  <div class='col-sm-4 serial bg-light'>
      <h4>Step: {{@index}}</h4>
      <p>
        {{#each step}}
        <div class='parallel {{State}} border border-secondary' >
          <p>
            <button class = 'btn btn-outline-secondary exchange-button btn-xs'
                    data-cmd ='ready'
                    data-method = 'PUT'
                    data-path ='/{{../../mpid}}/{{../../no}}/state/{{Position.Seq}}/{{Position.Par}}'
                    type='submit'>
                    set ready
            </button>
            <button class = 'btn btn-outline-secondary exchange-button'
                    data-cmd ='executed'
                    data-method = 'PUT'
                    data-path ='/{{../../mpid}}/{{../../no}}/state/{{Position.Seq}}/{{Position.Par}}'
                    type='submit'>
                    set executed
            </button>
	          <button class = 'btn btn-outline-secondary exchange-button'
                    data-cmd ='working'
                    data-method = 'PUT'
                    data-path ='/{{../../mpid}}/{{../../no}}/state/{{Position.Seq}}/{{Position.Par}}'
                    type='submit'>
                    set working
            </button>
          </p>

          <div class='panel-body {{State}}'>
            <h5>{{TaskName}}</h5>
            {{#if Action}}
            <b>Action</b>
            <p>
              {{Action}}
            </p>
            {{/if}}

            {{#if  ExchangePath}}
            <b>Exchange Path</b>
            <p>
              <a href='http://localhost:8001/{{../../mpid}}/exchange/{{{toExchPath ExchangePath}}}' target='_blank'>{{ExchangePath}}
              </a>
            </p>
            {{/if}}

            {{#if  StopIf}}
            <b>StopIf</b>
            <p>
              <a href='http://localhost:8001/{{../../mpid}}/exchange/{{toExchPath StopIf}}' target='_blank'>{{StopIf}}
              </a>
            </p>
            {{/if}}

            {{#if  RunIf}}
            <b>RunIf</b>
            <p>
              <a href='http://localhost:8001/{{../../mpid}}/exchange/{{toExchPath RunIf}}' target='_blank'>{{RunIf}}
              </a>
            </p>
            {{/if}}

            {{#if DefinitionClass}}
            <b>Definition Class</b>
            <p>
              {{DefinitionClass}}
            </p>
            {{/if}}

            {{#if Repeat}}
            <b>Repeat</b>
            <p>
              {{Repeat}}
            </p>
            {{/if}}

            {{#if Wait}}
            <b>Wait</b>
            <p>
              {{Wait}} (ms)
            </p>
            {{/if}}
            {{#if Comment}}
            <b>Description</b>
            <p>
              {{Comment}}
            </p>
            {{/if}}

            {{#if Value}}
            <b>Value</b>
            <p>
              {{niceValue Value}}
            </p>
            {{/if}}

            {{#if Container}}
            <b>Run Container</b>
            <p>
	      Load and Run container: {{Container}} of measurement program
	      definition: {{Mp}}: <a href='{{toMpPath this}}' target='_blank'>{{toMpPath this}}</a>
            </p>
            {{/if}}

          </div>
        </div>
        {{/each}}
      </p>



  </div>
  {{/each}}
</div>
